@height: 3.6rem;

.header {
  background-color: white;
  color: black;
  overflow: hidden;
  height: @height;
  border-bottom: 1px solid rgb(236, 234, 234);

  .header_left {
    display: flex;
    line-height: @height;
  }

  .header_name {
    color: #1e90ff;
    text-align: left;
    font-size: 1.4rem;
  }

  .header_text {
    font-size: .7rem;
    color: #999;
    display: block;
    padding-left: .3rem;
  }
}

.ant-menu {
  background-color: transparent !important;
  border-bottom: none !important;
}

.ant-menu-item {
  font-size: .7rem !important;
  padding-right: 1.4rem;
}