.main-layout {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(241, 238, 238);


  .main-layout-content {
    width: 80%;
    margin: 0 auto;
    color: gray;
    background-color: white;
  }

  .main-layout-footer {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
  }
}